@tailwind base;
@tailwind components;
@tailwind utilities;

.dutch-white {
  background-color: #F9E8C4;
}

.lapis-laz {
  background-color: #31698E;
}

.honeydew {
  background-color: #D7E2D5;
}

.indigo-dye {
  background-color: #254666;
}

.ash-gray {
  background-color: #B1C1BD;
}

.cosmic-latte {
  background-color: #FBF6E3;
}

.battleship-gray {
  background-color: #90928F;
}

.bone {
  background-color: #D7D5C1;
}

.key-button {
  transition: background-color 0.3s ease;
}

.key-button:hover {
  background-color: rgb(70, 64, 64);
}

.pressed {
  background-color: rgb(70, 64, 64);
}

.text-color {
  color: #254666;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: visible;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn .75s forwards;
}

.fade-out {
  animation: fadeOut .75s forwards;
}

.caret {
  background-color: black;
  animation: blink-caret 1.5s infinite;
  visibility: visible;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

.word-box {}

.word-box::-webkit-scrollbar {
  display: none;
}

.word-box {
  -ms-overflow-style: none;
  scrollbar-width: none;
}